{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}

                <div style="color: red;">
                    {{ form.non_field_errors }}
                </div>

                <p>email</p>
                {% render_field form.email placeholder="Email" %}
                {{ form.email.errors }}

                <p>password</p>
                {% render_field form.password1 placeholder="Password" %}
                {{ form.password1.errors }}

                <p>password again</p>
                {% render_field form.password2 placeholder="Password again" %}
                {{ form.password2.errors }}

                <input type="submit" value="Signup" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}
