{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th>Title</th>
                        <th>Shortened Url</th>
                        <th>Destination Link</th>
                        <th>Total clicks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                        <tr>
                            <td class="bs-checkbox">
                                <input type="checkbox">
                            </td>
                            <td>{{ link.title }}</td>
                            <td>
                                <a href="{% url 'redirect-to-link' key=link.key %}" target="blank">
                                    http://{{ site.domain }}{% url 'redirect-to-link' key=link.key %}
                                </a>
                            </td>
                            <td>{{ link.destination }}</td>
                            <td>{{ link.total_clicks }}</td>
                            <td>
                                <a href="{% url 'edit-link' key=link.key %}">
                                    edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}