{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}
Shorten url
{% endblock title %}

{% block styles %}
<style>
    .error-text {
        color: red;
        font-weight: bold;
    }
    .has-error {
        border-color: #d20505;
    }
</style>
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Enter a URL</h2>
            <form action="{% url 'shorten-link' %}" method="POST" id="shorten-form">
                {% csrf_token %}

                <div class="form-group">
                    {% render_field form.destination class+='form-control' placeholder+='http://' %}
                </div>
                
                {% if user.is_authenticated %}
                <div class="form-group">
                    {% render_field form.key class+='form-control' placeholder+='custom link' %}
                </div>
                {% endif %}

                <div class="display-errors">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">shorten url</button>
                </div>

                <div class="result">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
    function clear_divs() {
        // clear div contents for each div argument.
        for(var i = 0; i < arguments.length; i++) {
            arguments[i].empty();
        }
    }

    function shortened_url() {
        var $form = $(this);
        var $result_div = $('.result');
        var $error_div = $('.display-errors');

        $.ajax({
            url: $form.attr('action'),
            type: 'POST',
            dataType: 'json',
            data: $form.serialize(),
            success: function(data) {

                // clear results and error divs.
                clear_divs($result_div, $error_div);

                // display success data to main div.
                var shortened_url = $("<h2></h2>").append(data.url);
                shortened_url.appendTo($result_div);

                // reset the form.
                $form[0].reset();
            },
            error: function(data) {
                
                // clear results and error divs.
                clear_divs($result_div, $error_div);

                // get input element and add error style
                var $input = $form.find('input[name="destination"]');
                $input.addClass('has-error');

                // get response.
                var errors = data.responseJSON;
                var keys = Object.keys(errors);

                // display the error for each key of response object in 'display-errors' div.
                keys.map(function(key) {
                    var $error_span = $("<span></span>").addClass('error-text').text(errors[key]);
                    $error_span.appendTo($error_div);
                });
            }
        });
        return false;
    }
    $(document).ready(function() {
        $('#shorten-form').on('submit', shortened_url);
    })
</script>
{% endblock scripts %}
