{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock title %}

{% block styles %}
<style>
    .error-text {
        color: red;
    }
    input {
        font-size: 20px;
        margin-bottom: 10px;
    }
</style>
{% endblock styles %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    {% if form.errors %}
    <div class="error-text">
        The username/password you entered was wrong.
    </div>
    {% endif %}

    {{ form.username.label_tag }}
    {% render_field form.username placeholder="Username" %}
    <br />

    {{ form.password.label_tag }}
    {% render_field form.password placeholder="Password" %}

    <br />
    <input type="submit" value="Login" />
</form>
{% endblock content %}
